<template>
  <div id="app">
    <component :is="layout">
      <router-view />
    </component>
  </div>
</template>

<script>
import DefaultLayout from "./layouts/DefaultLayout.vue";

export default {
  name: "App",

  computed: {
    layout: function() {
      return this.$route.meta.layout || DefaultLayout;
    }
  },
};
</script>

<style>
html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}
body > #app {
  height: 100%;
}
</style>

<style lang='scss'>
@import "~tabulator-tables/src/scss/bulma/tabulator_bulma";
</style>
