<template>
  <div class="columns is-centered">
    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
      <form class="box" @submit.prevent="login">
        <b-field label="Email">
          <b-input v-model="email" icon="email" placeholder="hello@project.com" required></b-input>
        </b-field>
        <b-field label="Password">
          <b-input type="password" placeholder="***********" v-model="password" password-reveal required></b-input>
        </b-field>
        <b-button tag="input" native-type="submit" type="is-success" value="Login" />
        <p v-if="loginError" class="has-text-danger has-text-weight-bold">{{ loginError }}</p>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  data: function() {
    return {
      email: "",
      password: ""
    };
  },

  computed: {
    loginError: function() {
      return this.$store.state.user.loginError;
    }
  },

  methods: {
    login: function() {
      let email = this.email;
      let password = this.password;
      this.$store
        .dispatch("user/login", { email, password })
        .then(() => this.$router.push("/projects"))
        .catch(err => console.log(err));
    }
  }
};
</script>

<style>
</style>
