<template>
  <div class="s_wrap">
    <div :class="[isNavOpen ? 'active': '', 's_sidebar']">
      <global-menu :projects="projects"></global-menu>
    </div>
    <div :class="[isProjectNavOpen ? 'active': '', 's_sidebar_project']">
      <project-menu></project-menu>
    </div>

    <div class="s_main">
      <div class="s_main_main">
        <div class="s_toggle_sidebar is-hidden-desktop">
          <b-button @click.prevent="toggleNavOpen">
            <b-icon icon="menu" size="is-small" type="is-primary"></b-icon>
          </b-button>
        </div>

        <div class="columns">
          <div class="column is-6">
            <breadcrumb></breadcrumb>
          </div>
          <portal-target name="controlPanel" class="column is-6" v-if="displayControlPanel"></portal-target>
        </div>

        <slot name="default" />
      </div>

      <portal-target name="detailsPanel" class="s_details" v-if="displayDetailsPanel"></portal-target>
    </div>
  </div>
</template>

<script>
import Breadcrumb from "../components/Breadcrumb.vue";
import GlobalMenu from "../components/GlobalMenu.vue";
import ProjectMenu from "../components/ProjectMenu";

export default {
  name: "DefaultLayout",
  components: {
    Breadcrumb,
    GlobalMenu,
    ProjectMenu
  },
  computed: {
    isNavOpen: function() {
      return this.$store.state.layout.isNavOpen;
    },
    isProjectNavOpen: function() {
      return this.$store.state.layout.isProjectNavOpen;
    },
    displayDetailsPanel: function() {
      return this.$route.meta.displayDetailsPanel || false;
    },
    displayControlPanel: function() {
      return this.$route.meta.displayControlPanel || false;
    },
    projects: function() {
      return this.$store.state.project.projects;
    }
  },
  methods: {
    toggleNavOpen: function() {
      this.$store.dispatch("layout/toggleNavOpen");
    }
  },
  created: function() {
    // As both left menu and homepage uses the projects, fetch them hee.
    this.$store.dispatch("project/getProjects");
  }
};
</script>

<style scoped>
.s_wrap {
  height: 100%;
  display: flex;
}

.s_wrap > .s_sidebar {
  flex: 0 0 222px;
  border-right: 1px solid rgb(239, 241, 244);
  padding: 24px 8px 24px 8px;
}

.s_wrap > .s_sidebar_project {
  padding: 24px 8px 24px 8px;
  position: absolute;
  width: 222px;
  top: 0;
  bottom: 0;
  left: -222px;
  background-color: rgb(239, 241, 244);
  border-right: 1px solid rgb(239, 241, 244);
}

.s_wrap > .s_sidebar_project.active {
  left: 0;
}

.s_wrap > .s_main {
  overflow: auto;
  flex-grow: 1;
  display: flex;
}

.s_wrap > .s_main > .s_main_main {
  padding: 24px 24px 24px 24px;
  flex: 1 1 0;
  min-width: 800px;
}
.s_wrap > .s_main > .s_details {
  padding: 24px 24px 24px 24px;
  background-color: rgb(239, 241, 244);
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1023px) {
  .s_wrap > .s_sidebar {
    z-index: 1;
    position: absolute;
    width: 222px;
    top: 0;
    bottom: 0;
    left: -222px;
    transition: left 0.15s ease-in 0s, box-shadow 0.15s 0s;
    background-color: white;
    padding-top: 50px;
  }

  .s_wrap > .s_sidebar.active {
    left: 0;
  }

  .s_toggle_sidebar {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 222px;
  }
  .s_wrap > .s_main {
    padding-top: 50px;
  }
}
@media (max-width: 1344px) {
  .s_wrap > .s_main {
    flex-direction: column;
  }
}
</style>
