<template>
  <section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <slot name="default" />
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "HeroLayout"
};
</script>

<style>
</style>
