<template>
  <div>
    <!-- name -->
    <b-field label="Name">
      <template v-if="project && isReadonly">{{ project.name }}</template>
      <template v-else>
        <b-input v-model="form.name" required ref="inputname"></b-input>
      </template>
    </b-field>

    <!-- description -->
    <b-field label="Description">
      <template v-if="project && isReadonly">{{ project.description }}</template>
      <template v-else>
        <b-input
          rows="30"
          type="textarea"
          placeholder="Add some details"
          v-model="form.description"
          ref="inputedescription"
        ></b-input>
      </template>
    </b-field>

    <portal to="controlPanel">
      <div class="buttons is-right">
        <template v-if="isReadonly">
          <b-button icon-left="pencil" type="is-success" label="Edit" @click="onClickEdit"></b-button>
        </template>
        <template v-else>
          <b-button icon-left="delete" type="is-white" label="Cancel" @click="onClickCancel"></b-button>
          <b-button
            icon-left="check"
            type="is-success"
            @click="onClickSave"
            :disabled="! saveEnabled"
          >Save</b-button>
        </template>
      </div>
    </portal>

    <portal to="detailsPanel">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li class="is-size-5">Details</li>
        </ul>
      </nav>

      <section class="section">
        <b-field horizontal label="Start Date" message="Please select a start date">
          <template v-if="project && isReadonly">{{ project.date_start }}</template>
          <template v-else>
            <b-datepicker
              placeholder="Click to select..."
              icon="calendar-today"
              v-model="form.date_start"
              trap-focus
            ></b-datepicker>
          </template>
        </b-field>
        <b-field horizontal label="End Date" message="Please select an end date">
          <template v-if="project && isReadonly">{{ project.date_stop }}</template>
          <template v-else>
            <b-datepicker
              placeholder="Click to select..."
              icon="calendar-today"
              v-model="form.date_stop"
              trap-focus
            ></b-datepicker>
          </template>
        </b-field>
        <b-field horizontal label="Estimated Budget" message="Please enter an estimated budget">
          <template v-if="project && isReadonly">{{ project.budget_estimated }}</template>
          <template v-else>
            <b-numberinput v-model="form.budget_estimated" :controls="false"></b-numberinput>
          </template>
        </b-field>
        <b-field horizontal label="Sold Budget" message="Please enter the sold budget">
          <template v-if="project && isReadonly">{{ project.budget_sold }}</template>
          <template v-else>
            <b-numberinput v-model="form.budget_sold" :controls="false"></b-numberinput>
          </template>
        </b-field>
        <b-field horizontal label="Spent Budget" message="Please enter the spent buget">
          <template v-if="project && isReadonly">{{ project.budget_spent }}</template>
          <template v-else>
            <b-numberinput v-model="form.buget_spent" :controls="false"></b-numberinput>
          </template>
        </b-field>
      </section>

      <div style="margin-top: auto;">
        <b-button
          size="is-large"
          type="is-primary"
          label="Tasks"
          tag="router-link"
          :to="'/projects/' + projectId + '/tasks'"
        ></b-button>
      </div>
    </portal>
  </div>
</template>

<script>
export default {
  name: "ProjectsCreate",

  props: ["id"],

  data: function() {
    return {
      isReadonly: true,
      form: {
        name: "",
        description: "",
        date_start: new Date(),
        date_stop: new Date(),
        budget_estimated: 0,
        budget_sold: 0,
        budget_spent: 0
      }
    };
  },

  computed: {
    projectId: function() {
      return parseInt(this.id);
    },
    project: function() {
      return (
        this.$store.state.project.projects.find(p => p.id === this.projectId) ||
        false
      );
    },
    saveEnabled: function() {
      if (this.form.name) {
        return true;
      } else {
        return false;
      }
    }
  },

  mounted: function() {
    this.$store.dispatch("layout/toggleProjectNavOpen", true);
    if (!this.projectId) {
      this.isReadonly = false;
    } else {
      this.$store.dispatch("layout/openProject", this.projectId);
    }
    if (!this.isReadonly) {
      this.$refs.inputname.focus();
    }
  },

  methods: {
    onClickEdit: function() {
      this.isReadonly = false;
      this.form.name = this.project.name;
      this.form.description = this.project.description;
      //this.form.date_start = this.project.date_start;
      //this.form.date_stop = this.project.date_stop;
    },
    onClickSave: function() {
      if (this.projectId) {
        this.$store
          .dispatch("project/editProject", {
            id: this.projectId,
            form: this.form
          })
          .then(() => {
            this.$router.push("/projects");
          });
      } else {
        this.$store.dispatch("project/addProject", this.form).then(() => {
          this.$router.push("/projects");
        });
      }
    },
    onClickCancel: function() {
      if (!this.projectId) {
        this.$router.go(-1);
      } else {
        this.isReadonly = true;
        this.form = {};
      }
    }
  }
};
</script>

<style>
</style>
