<template>
  <div>
    <b-table
      :data="isEmpty ? [] : data"
      :bordered="isBordered"
      :striped="isStriped"
      :narrowed="isNarrowed"
      :hoverable="isHoverable"
      :loading="isLoading"
      :focusable="isFocusable"
      :mobile-cards="hasMobileCards"
      style="margin: -24px;"
    >
      <template slot-scope="props">
        <b-table-column field="name" label="Name">
          <div class="column is-9 is-pulled-left">
            <router-link :to="'/projects/' + props.row.id">{{ props.row.name }}</router-link>
          </div>
          <div class="column is-3 is-pulled-right has-text-right">
            <b-button type="is-light" icon-right="delete" @click="onDeleteClick(props.row.id)"></b-button>
          </div>
        </b-table-column>
      </template>

      <template slot="empty">
        <section class="section">
          <div class="content has-text-grey">
            <div class="buttons">
              There is no project yet, please create a new project using
              <b-button
                icon-left="plus"
                style="margin-left: 5px;"
                type="is-link"
                tag="router-link"
                to="/projects/new"
              >New Project</b-button>.
            </div>
          </div>
        </section>
      </template>
    </b-table>
    <portal to="controlPanel">
      <div class="buttons is-right">
        <b-button icon-left="plus" type="is-link" tag="router-link" to="/projects/new">New Project</b-button>
      </div>
    </portal>
  </div>
</template>

<script>
export default {
  name: "Projects",
  data: function() {
    return {
      isEmpty: false,
      isBordered: false,
      isStriped: false,
      isNarrowed: true,
      isHoverable: true,
      isLoading: false,
      isFocusable: false,
      hasMobileCards: true
    };
  },
  computed: {
    data: function() {
      return this.$store.state.project.projects;
    }
  },
  mounted: function() {
    this.$store.dispatch("layout/toggleProjectNavOpen", false);
  },
  methods: {
    onDeleteClick: function(projectId) {
      return this.$store.dispatch("project/removeProject", projectId);
    }
  }
};
</script>

<style>
</style>
