<template>
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li v-for="(crumb, idx) in crumbs" :key="idx">
        <template v-if="crumb.params">
          <router-link :to="{ name: crumb.name, params: crumb.params}">
            <span class="is-size-5">{{ crumb.text }}</span>
          </router-link>
        </template>
        <template v-else>
          <router-link :to="crumb.path">
            <span class="is-size-5">{{ crumb.text }}</span>
          </router-link>
        </template>
      </li>
    </ul>
  </nav>
</template>

<script>
// https://github.com/Suruat/vue-2-crumbs
// https://jsfiddle.net/Linusborg/fgporeLx/
export default {
  name: "Breadcrumb",

  computed: {
    crumbs: function() {
      let crumbsData = [];
      let currentRoute = this.$route;
      let params = [this.$route.params]; // FIXME: make it work with multiple params (/x/2/y/1)
      while (currentRoute) {
        let breadcrumbText = currentRoute.meta.breadcrumbText;
        let localParams = false;
        if (!breadcrumbText) {
          let getter = this.$store.getters[currentRoute.meta.breadcrumbGetter];
          if (params.length) {
            localParams = params.pop();
            breadcrumbText = getter(parseInt(localParams.id));
          }
        }
        if (!breadcrumbText) {
          break;
        }
        crumbsData.unshift({
          text: breadcrumbText,
          path: currentRoute.path,
          name: currentRoute.name,
          params: localParams
        });
        currentRoute = this.$router.options.routes.find(
          r => r.name === currentRoute.meta.breadcrumbParent
        );
      }
      return crumbsData;
    }
  }
};
</script>

<style>
</style>
