<template>
  <div class="columns is-vcentered is-centered">
    <div class="column">
      <span class="title is-5">{{ email }}</span>
    </div>
    <div class="column is-narrow">
      <figure class="image is-32x32">
        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" />
      </figure>
    </div>
  </div>
</template>

<script>
export default {
  name: "CurrentUser",

  computed: {
    email: function() {
      return this.$store.state.user.email;
    }
  },

  created: function() {
    if (!this.email) {
      this.$store.dispatch("user/refresh");
    }
  }
};
</script>

<style>
</style>
