<template>
  <div>
    <current-user></current-user>
    <b-menu :activable="false">
      <b-menu-list label="Menu">
        <template v-if="projects.length">
          <b-menu-item
            icon="view-grid"
            expanded
            :active="isProjectsActive"
          >
            <template slot="label" slot-scope="props">
              Projects
              <b-icon class="is-pulled-right" :icon="props.expanded ? 'menu-down' : 'menu-up'"></b-icon>
            </template>
            <template v-for="(project, idx) in projects">
              <b-menu-item
                :label="project.name"
                :key="idx"
                tag="router-link"
                :to="'/projects/' + project.id"
              ></b-menu-item>
            </template>
          </b-menu-item>
        </template>
        <template v-else="">
          <b-menu-item icon="view-grid" label="Projects" tag="router-link" to="/projects"></b-menu-item>
        </template>
        <b-menu-item icon="clock-outline" label="Timesheets" tag="router-link" to="/timesheets"></b-menu-item>
        <b-menu-item icon="calendar-month" label="Planning" tag="router-link" to="/planning"></b-menu-item>
        <b-menu-item icon="cog" label="Configuration" tag="router-link" to="/configuration"></b-menu-item>
      </b-menu-list>
      <b-menu-list label="Actions">
        <b-menu-item icon="account-cancel" label="Logout" @click="logout"></b-menu-item>
      </b-menu-list>
    </b-menu>
  </div>
</template>

<script>
import CurrentUser from "./CurrentUser";

export default {
  name: "GlobalMenu",

  components: {
    CurrentUser
  },

  props: {
    projects: {
      type: Array
    }
  },

  methods: {
    logout: function() {
      this.$store.dispatch("user/logout").then(() => {
        this.$router.push("/login");
      });
    }
  },

  computed: {
    isProjectsActive: function() {
      return ["/projects", "/"].includes(this.$route.path);
    }
  }
};
</script>

<style>
</style>
