<template>
  <div>
    <div class="columns is-vcentered is-centered">
      <div class="column is-narrow">
        <b-button @click.prevent="toggleProjectNavOpen">
          <b-icon icon="arrow-left-bold" size="is-small"></b-icon>
        </b-button>
      </div>
      <div class="column">
        <span class="title is-6">{{ project.name }}</span>
      </div>
      <div class="column is-narrow">
        <figure class="image is-32x32">
          <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" />
        </figure>
      </div>
    </div>
    <b-menu :activable="false">
      <b-menu-list label="Project Menu">
        <b-menu-item icon="view-grid" expanded>
          <template slot="label" slot-scope="props">
            Tasks
            <b-icon class="is-pulled-right" :icon="props.expanded ? 'menu-down' : 'menu-up'"></b-icon>
          </template>

          <b-menu-item label="Task 1" tag="router-link" :to="'/projects/' + project.id + '/tasks/'"></b-menu-item>
          <b-menu-item label="Task 2" tag="router-link" :to="'/projects/' + project.id + '/tasks/'"></b-menu-item>
        </b-menu-item>

        <b-menu-item label="Estimations" tag="router-link" to="/configuration"></b-menu-item>
        <b-menu-item label="Timesheet" tag="router-link" to="/configuration"></b-menu-item>
      </b-menu-list>
    </b-menu>
  </div>
</template>

<script>
export default {
  name: "ProjectMenu",

  computed: {
    project: function() {
      const projectId = this.$store.state.layout.openedProjectId;
      return this.$store.state.project.projects.find(p => p.id === projectId) || {};
    }
  },

  methods: {
    toggleProjectNavOpen: function() {
      this.$store.dispatch("layout/toggleProjectNavOpen");
      this.$router.push("/projects");
    }
  }
};
</script>

<style>
</style>
