<template>
  <section class="section">
    <Vue-Tabulator v-model="dados" :options="options" ref="table" />
    <div class="buttons">
      <b-button icon-left="plus" label="Add a task" @click="onClickAddTask"></b-button>
    </div>
  </section>
</template>

<script>
export default {
  name: "Tasks",

  props: {
    id: {
      required: true
    }
  },

  data: function() {
    return {
      dados: [
        {
          name: "Infrastructure",
          date_start: new Date(),
          date_stop: new Date(),
          estimated_hours: 10,
          estimated_budget: 800,
          logged_hours: 11,
          spent_budget: 880
        },
        {
          name: "Infrastructure",
          date_start: new Date(),
          date_stop: new Date(),
          estimated_hours: 10,
          estimated_budget: 800,
          logged_hours: 11,
          spent_budget: 880
        },
        {
          name: "Infrastructure",
          date_start: new Date(),
          date_stop: new Date(),
          estimated_hours: 10,
          estimated_budget: 800,
          logged_hours: 11,
          spent_budget: 880
        },
        {
          name: "Infrastructure",
          date_start: new Date(),
          date_stop: new Date(),
          estimated_hours: 10,
          estimated_budget: 800,
          logged_hours: 11,
          spent_budget: 880
        },
        {
          name: "Infrastructure",
          date_start: new Date(),
          date_stop: new Date(),
          estimated_hours: 10,
          estimated_budget: 800,
          logged_hours: 11,
          spent_budget: 880
        },
        {
          name: "Infrastructure",
          date_start: new Date(),
          date_stop: new Date(),
          estimated_hours: 10,
          estimated_budget: 800,
          logged_hours: 11,
          spent_budget: 880
        },
        {
          name: "Infrastructure",
          date_start: new Date(),
          date_stop: new Date(),
          estimated_hours: 10,
          estimated_budget: 800,
          logged_hours: 11,
          spent_budget: 880
        },
        {
          name: "Infrastructure",
          date_start: new Date(),
          date_stop: new Date(),
          estimated_hours: 10,
          estimated_budget: 800,
          logged_hours: 11,
          spent_budget: 880
        },
        {
          name: "Infrastructure",
          date_start: new Date(),
          date_stop: new Date(),
          estimated_hours: 10,
          estimated_budget: 800,
          logged_hours: 11,
          spent_budget: 880
        },
        {
          name: "Infrastructure",
          date_start: new Date(),
          date_stop: new Date(),
          estimated_hours: 10,
          estimated_budget: 800,
          logged_hours: 11,
          spent_budget: 880
        },
        {
          name: "Architecture",
          date_start: new Date(),
          date_stop: new Date(),
          estimated_hours: 80,
          estimated_budget: 6400,
          logged_hours: 0,
          spent_budget: 0
        }
      ],
      options: {
        layout: "fitColumns",
        tabEndNewRow: true,
        columns: [
          {
            title: "Name",
            field: "name",
            sorter: "string",
            editor: true,
            validator: "required"
          },
          {
            title: "Start",
            field: "date_start",
            sorter: "date",
            editor: true
          },
          {
            title: "End",
            field: "date_stop",
            sorter: "date",
            editor: true
          },
          {
            title: "Estimated Hours",
            field: "estimated_hours",
            sorter: "number",
            editor: true
          },
          {
            title: "Estimated Budget",
            field: "estimated_budget",
            sorter: "number",
            editor: true
          },
          {
            title: "Logged Hours",
            field: "logged_hours",
            sorter: "number"
          },
          {
            title: "Spent Budget",
            field: "spent_budget",
            sorter: "number"
          },
          {
            formatter: "buttonCross",
            width: 30,
            align: "center",
            cellClick: function(e, cell) {
              cell.getRow().delete();
            }
          }
        ]
      }
    };
  },

  computed: {
    projectId: function() {
      return parseInt(this.id);
    },
    project: function() {
      return this.$store.state.project.projects.find(
        p => p.id === this.projectId
      );
    }
  },

  methods: {
    onClickAddTask: function() {
      let tabulator = this.$refs.table.tabulatorInstance;
      tabulator.addRow();
    }
  }
};
</script>

<style>
</style>
